/* App.css */

.app {
  margin-top: 20px;
}

.job-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.job-box {
  width: calc(33.33% - 20px); /* Three boxes in one line with 20px margin */
  margin: 10px; /* Margin around each box */
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .job-box {
    width: calc(50% - 20px); /* Two boxes in one line for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .job-box {
    width: 100%; /* One box per line for even smaller screens */
    margin: 10px 0; /* Adjust margin for better spacing */
  }
}
