/* Filter options styles */
.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-item {
  flex: 1;
  margin: 18px 5px; /* Adjust margin */
}

.filter-input {
  width: calc(100% - 10px); /* Adjust width */
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px; /* Add padding */
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.filter-input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px #4caf50;
}

