.job-card-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow on all sides */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 100%;
  max-width: 350px;
  min-width: 250px;
  height: auto;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative; /* Add position relative */
  overflow: hidden; /* Hide the overflow */
}

.job-card-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), transparent); /* Add 3D effect */
  z-index: -1; /* Push the pseudo-element behind */
  transition: transform 0.3s ease; /* Add transition for 3D effect */
}

.job-card-container:hover::before {
  transform: translate(-5px, -5px); /* Move the pseudo-element to create a 3D effect on hover */
}

.company-logo-container {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.company-logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.job-info-box {
  display: flex;
  align-items: center;
}

.job-info {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.job-role,
.job-location {
  color: #555;
}

.expected-salary-container {
  margin-top: 8px;
}

.expected-salary {
  color: #555;
}

.about-us {
  margin-top: 12px;
}

.job-details {
  margin-top: 12px;
  text-align: justify;
}

.view-job-link-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.view-job-link {
  color: #007bff;
}

.view-job-link:hover {
  text-decoration: underline;
}

.experience-container {
  margin-top: 12px;
}

.min-experience,
.exp-from-json {
  color: #555;
  margin-top: 8px;
}

.job-card-container:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
  transform: translateY(-5px); /* Move the card slightly upwards on hover */
}

@media screen and (max-width: 600px) {
  .job-card-container {
    max-width: calc(100% - 20px);
    margin: 0 auto 20px;
  }

  .company-name {
    font-size: 1.1rem;
  }

  .job-role,
  .job-location {
    font-size: 0.9rem;
  }

  .expected-salary {
    font-size: 0.8rem;
  }

  .about-us {
    margin-top: 10px;
  }

  .job-details {
    font-size: 0.9rem;
  }
}
