.job-list {
  display: flex;
  flex-wrap: wrap;
}

.job-list .job-card {
  width: calc(24.33% - 10px); /* Adjust the width as needed */
  margin: 10px; /* Margin from top and bottom */
  margin-left: 10px; /* Margin from left */
  box-sizing: border-box;
}
